@model Dono.Models.Listings

@{
    ViewData["Title"] = "Edit";
}
@*<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxHH5CVIJlJwu4IjbYhy9EOqMRW4hOrQI"></script>
</head>*@
<h1>Edit</h1>

<h4>Listings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div class="col-sm-2">
            Uploaded Image
        </div>
        <div class="col-sm-10">
            <img class="lazyload" src="@("~/Image/"+Model.ImageName)" asp-append-version="true" width="250px" height="250px" />
        </div>
        <div class="col-sm-2">
            Current Location
        </div>
        <div id="myDiv" class="col-sm-10">

        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<script type="text/javascript">
    function initMap() {
        // The location of Uluru
        var uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 4, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxHH5CVIJlJwu4IjbYhy9EOqMRW4hOrQI&callback=initMap">
</script>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
